@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-clr: rgb(139, 119, 0)
}


.ant-btn {
    background-color: var(--bg-clr) !important;
}

.ant-btn > span {
    color: white !important;
}

.ant-btn:hover {
    border-color: var(--bg-clr) !important;
}

.ant-scroll-number {
    background-color: var(--bg-clr) !important;
}

.ant-menu-item-selected {
    background-color: var(--bg-clr) !important;
}

.ant-spin-dot-holder {
    color: var(--bg-clr) !important;
}

.delete-btn {
    background-color: brown !important;
}

.edit-btn {
    background-color: darkblue !important;
}